@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    height: auto;
    margin: 0;
}

/* navbar */

.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    display: block;
    background-color: #F5F6FF;
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.logo {
    float: left;
}

.logo img {
    margin-top: 13px;
    margin-left: 20px;
    margin-bottom: 12px;
    width: 110px;
    height: 32px;
}

.navbar li a {
    display: block;
    color: #5157F8;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.navbar li button {
    width: 100px;
    height: 30px;
    background-color: #5157F8;
    border-radius: 4px;
    border: none;
    margin-top: 16px;
    margin-right: 20px;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: white;
}

.navbar li button:hover {
    background-color: #3539b8;
    cursor: pointer;
}

.navbar li #logout {
    position: fixed;
    float: right;
    right: 20px;
    color: #5157F8;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

/* humberger menu */

.menu-toggle {
    margin-top: 20px;
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #5157F8;
    border-radius: 3px;
    transition: all 0.5s;
}

/* humberger animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;

}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

/* cheked */
.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: #5157F8;
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: #5157F8;
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
}

/* header */

.header {
    margin-top: 60px;
    background: black;
}

.header .background {
    width: 100%;
    height: 100px;
    object-fit: cover;
    opacity: 0.4;
}

.header .text-header #title {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
    -webkit-text-stroke: 0.4px black;
    color: white;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* white-background */
.white-background {
    width: 100%;
    height: 600px;
}

/* Konten */

.container {
    /* background-color: blue; */
    width: 900px;
    height: 1000px;
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 20px;
}

.grid-container>div {
    text-align: center;
    padding: 20px 0;
    /* height: 100px; */
}

.item1,
.item2,
.item3 {
    background-color: #e5e6f7;
}

.item4,
.item5,
.item6,
.item7 {
    grid-column: 1 / 4;
}

.grid-container .title {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.grid-container .number {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin: 5px;
    padding: 0;
}

.grid-container .description {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    margin-top: 5px;
    padding: 0;
}

.grid-container .table-title {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    float: left;
    padding: 0;
    margin-bottom: 10px;
}

.grid-container table {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-collapse: collapse;
}

.item4,
.item5,
.item6,
.item7 {
    overflow-x: auto;
}

tr {
    height: 40px;
    font-weight: 400;
}

tr:nth-child(1) {
    background-color: #5157F8;
    color: white;
}

tr:nth-child(n+2) {
    text-align: left;
}

td {
    padding-left: 15px;
    padding-right: 10px;
}

table #button-col {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e5e6f7;
}

table button {
    width: 30px;
    height: 25px;
    padding: 0;
    border: none;
    margin: 2px;
    cursor: pointer;
    border-radius: 3px;
}

table .check {
    background-image: url("img/check.svg");
}

table .expand {
    background-image: url("img/expand.svg");
}

table .delete {
    background-image: url("img/delete.svg");
}

table button:hover {
    filter: brightness(80%);
}

.grid-container-modal {
    display: grid;
    grid-template-columns: auto auto;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 800px;
    border-radius: 0.5rem;
    height: 400px;
    overflow-y: auto;
}

.modal-close {
    width: auto;
    height: auto;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    align-self: center;
    margin-left: 630px;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-title {
    font-family: Lato, sans-serif;
    display: flex;
    position: relative;
}

.modal-title>h2 {
    margin: 10px 0px;
}

hr.modal-title-divider {
    border: 1px solid #e5e6f7;
}

#pelapor-nama {
    font-family: Lato, sans-serif;
}

#pelapor-nama>span {
    align-self: center;
}

#pelapor-nomor {
    font-family: Lato, sans-serif;
    text-align: justify;
}

#pelapor-status {
    font-family: Lato, sans-serif;
}

#pelapor-email {
    font-family: Lato, sans-serif;
}

#pelapor-notlp {
    font-family: Lato, sans-serif;
}

#pelapor-rujukan {
    font-family: Lato, sans-serif;
}

#pelapor-kategori {
    font-family: Lato, sans-serif;
}

#pelapor-judul {
    font-family: Lato, sans-serif;
}

#pelapor-deskripsi {
    font-family: Lato, sans-serif;
    text-align: justify;
    grid-column: 1/4;
}

#pelapor-tanggal {
    font-family: Lato, sans-serif;
}

/* PAGINATION */
/* Aspirasi */

#pagination-aspirasi {
    display: flex;
    padding: 20px 0px;
    margin: 0px 0px;
}

#pagination-aspirasi .disable-aspirasi {
    background-color: white;
}

#pagination-aspirasi .aspirasi {
    background-color: white;
}

#pagination-aspirasi a, #pagination-aspirasi span {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

#pagination-aspirasi a:hover {
    cursor: pointer;
    background-color: #ddd;
}

#pagination-aspirasi a.active {
    background-color: #5157F8;
    color: white;
    padding: 8px 16px;
}

#pagination-aspirasi span {
    background-color: #5157F8;
    color: white;
    padding: 8px 16px;
}

/* Diskusi */

#pagination-diskusi {
    display: flex;
    padding: 20px 0px;
    margin: 0px 0px;
}

#pagination-diskusi .disable-diskusi {
    background-color: white;
}

#pagination-diskusi .diskusi {
    background-color: white;
}

#pagination-diskusi a, #pagination-diskusi span {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

#pagination-diskusi a:hover {
    cursor: pointer;
    background-color: #ddd;
}

#pagination-diskusi a.active {
    background-color: #5157F8;
    color: white;
    padding: 8px 16px;
}

#pagination-diskusi span {
    background-color: #5157F8;
    color: white;
    padding: 8px 16px;
}

/* Laporan */

#pagination-laporan {
    display: flex;
    padding: 20px 0px;
    margin: 0px 0px;
}

#pagination-laporan .disable-laporan {
    background-color: white;
}

#pagination-laporan .laporan {
    background-color: white;
}

#pagination-laporan a, #pagination-laporan span {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

#pagination-laporan a:hover {
    cursor: pointer;
    background-color: #ddd;
}

#pagination-laporan a.active {
    background-color: #5157F8;
    color: white;
    padding: 8px 16px;
}

#pagination-laporan span {
    background-color: #5157F8;
    color: white;
    padding: 8px 16px;
}

/* Pengaduan */

#pagination-pengaduan {
    display: flex;
    padding: 20px 0px;
    margin: 0px 0px;
}

#pagination-pengaduan .disable-pengaduan {
    background-color: white;
}

#pagination-pengaduan .pengaduan {
    background-color: white;
}

#pagination-pengaduan a, #pagination-pengaduan span {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

#pagination-pengaduan a:hover {
    cursor: pointer;
    background-color: #ddd;
}

#pagination-pengaduan a.active {
    background-color: #5157F8;
    color: white;
    padding: 8px 16px;
}

#pagination-pengaduan span {
    background-color: #5157F8;
    color: white;
    padding: 8px 16px;
}

@media (max-width: 1000px) {
    .container {
        width: 85%;
    }
}

@media (max-width: 650px) {

    .item1,
    .item2,
    .item3 {
        grid-column: 1 / 4;
    }

    .header .text-header #title {
        font-size: 22px;
    }
}

@media (max-width: 575px) {
    .menu-toggle {
        display: flex;
    }

    .navbar ul {
        background-color: #f5f6ffb6;
        position: absolute;
        right: 0;
        top: 60px;
        height: 90vh;
        align-items: center;
        display: flex;
        flex-direction: column;
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    .navbar ul li {
        height: 40px;
    }

    .navbar li button {
        display: none;
        margin-left: 20px;
    }

    .navbar ul.slide {
        opacity: 1;
        transform: translate(0);
    }

    .header .text-header #title {
        font-size: 22px;
        width: 250px;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    .modal-content {
        width: 80vw;
        height: 65vh;
    }

    .close-button {
        margin-left: auto;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .modal-content {
        width: 80vw;
        height: 65vh;
    }

    .close-button {
        margin-left: auto;
    }

    #pelapor-deskripsi {
        grid-column: 1/4;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .modal-content {
        width: 80vw;
        height: 65vh;
    }

    .close-button {
        margin-left: auto;
    }

    #pelapor-deskripsi {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 576px) {

    .modal-content {
        width: 80vw;
        height: 65vh;
    }

    .close-button {
        margin-left: auto;
    }

    #pelapor-deskripsi {
        grid-column: 1/3;
    }

    .pagination {
        display: block;
        padding: 20px 0px;
        margin: 0px 0px;
    }

    .pagination>a {
        text-align: center;
    }

}

@media screen and (max-width: 374px) {
    .grid-container-modal {
        display: grid;
        grid-template-columns: none;
    }

    .pagination {
        display: grid;
        padding: 20px 0px;
        margin: 0px 0px;
    }

    .pagination>a {
        text-align: center;
    }

}

