:root {
    font-family: Lato, sans-serif;
    color: white;
    margin: 0;
}


.titleHeading {
    color: #322d49;
    font-size: 30px;
    text-align: center;
}

.descriptionForm {
    color: #322d49;
    font: caption;
    text-align: center;
    font-family: Lato, sans-serif;
}


.formTengah {
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    border: 2px solid #d6d6d6;
    width: 100%;
    font-size: 18px;
    line-height: 10px;
    border-radius: 10px;
    height: 30px;
    background-color: white;
    color: #322d49;
}


.form-layout {
    padding: 5px 15px 5px 15px;
}

.descForm {
    color: black;
    font-weight: 600;
}

.submit-btn {
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    background-color: #5157F8;
    border: 1px solid #5157F8;
    color: white;
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #9599ff;
    border: 1px solid #9599ff;
}

.border-btn {
    background-color: transparent;
    border: 1px solid #2c2c54;
    padding: 8px 10px 8px 10px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
}

.layout-btn {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
}

.credit {
    text-align: center;
    color: #30336b;
    font-size: 15px;
}

.garisBatas {
    border: 1px solid #322d49;
}


/* CSS Forgot Password */
.bg-form-forgotpassword {
    background-color: white;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 4px rgba(65, 65, 65, 0.13);
}

.forgot-password-background {
    background-image: url(img/bg.svg);

}

@media screen and (max-width: 678px) {

    /* forgot Password Responsif 678px */
    .bg-form-forgotpassword {
        width: auto;
        height: auto;
        position: fixed;
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        overflow: auto;

    }


}