@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    height: auto;
    margin: 0;
}

/* navbar */

.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    display: block;
    z-index: 1;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F5F6FF;
    box-shadow: 0 4px 4px -1px rgba(0,0,0,0.25);
}

.navbar li {
    float: left;
}

.navbar li img {
    margin-top: 13px;
    margin-left: 20px;
    margin-bottom: 12px;
    width: 110px;
    height: 32px;
}

.navbar li a {
    display: block;
    color: #5157F8;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.navbar li button {
    width: 100px;
    height: 30px;
    background-color: #5157F8;
    border-radius: 4px;
    border: none;
    margin-top: 16px;
    margin-right: 20px;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: white;
}

.navbar li button:hover {
    background-color: #3539b8;
    cursor: pointer;
}

/* header */

.header {
    margin-top: 60px;
    background: black;
}

.header .background {
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.4;
}

.header .text-header #title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 500;
    -webkit-text-stroke: 0.4px black;
    color: white;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header .text-header #description {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    -webkit-text-stroke: 0.2px black;
    color: white;
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* white-background */
.white-background {
    width: 100%;
    height: 600px;
}

.white-container {
    background-color: white;
    width: 800px;
    height: 850px;
    position: absolute;
    top: 675px;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 10px 10px 0px rgba(61, 60, 60, 0.49);
    border-radius: 10px;
}

/* Form */

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    padding: 20px;
    margin-left: 10px;
}

.item1, .item8, .item9 {
    grid-column: 1 / 3;
}

.white-container form p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 7px;
    padding: 0;
}

.white-container form #nama, #judul {
    width: 95%;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 350;
}

.white-container form input {
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 350;
}

.white-container form #deskripsi {
    resize: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 350;
    width: 95%;
    padding: 7px;
}

.white-container form #tanggal {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 40px;
    width: 60%;
}

.white-container form button {
    float: right;
    margin-right: 20px;
    margin-top: 42px;
    width: 120px;
    height: 40px;
    background-color: #5157F8;
    border-radius: 4px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.white-container form button:hover {
    background-color: #363abe;
    cursor: pointer;
}

#nomor, #email {
    width: 92%;
}

#telp {
    width: 88%;
}

#status, #kategori {
    width: 94%;
    height: 42px;
}

#rujukan {
    width: 97%;
    height: 42px;
}


/* footer */

.footer {
    position: absolute;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    height: 130px;
    background-color: #F5F6FF;
    text-align: center;
}

.hyperlink {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hyperlink ul {
    padding: 0;
}

.hyperlink li {
    display: inline;
}

.hyperlink a {
    display: inline-block;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

#copyright {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: black;

}

@media (max-width: 800px) {
    .white-container {
        width: 95%;
    }

    .header .text-header #title {
        font-size: 25px;
        left: 50%;
        width: 400px;
    }

    .header .text-header #description {
        font-size: 16px;
        width: 250px;
    }
}

@media (max-width: 575px) {
    .white-container {
        width: 95%;
    }

    .navbar li a, .navbar li button{
        display: none;
    }

    .header .text-header #title {
        width: 300px;
    }

    .header .text-header #description {
        width: 200px;
    }

    .grid-container :not(.item1, .item8, .item9) {
        grid-column: 1 / 3;
    }

    .white-container {
        height: 1200px;
        top: 875px; 
    }

    .footer {
        top: 240%;
    }

    .white-container form #nama {
        width: 92%;
    }

    .white-container form #deskripsi {
        width: 92%;
    }

    .white-container form #tanggal {
        width: 92%;
    }

    #telp, #judul {
        width: 92%;
    }

    .white-container form button {
        float: none;
        width: 100%;
    }
}